@charset "UTF-8";

@mixin pc-variable(){
    --badge-border-radius: var(--border-radius-small);
    --badge-padding: var(--space-1) var(--space-2);
    --badge-text-size: var(--font-xsmall);
    --badge-color-blue-text: var(--color-text-blue);
    --badge-color-blue-bg: var(--color-bg-blue);
    --badge-color-pink-text: var(--color-text-pink);
    --badge-color-pink-bg: var(--color-bg-pink);
    --badge-color-default-text: var(--color-text-gray);
    --badge-color-default-bg: var(--color-bg-gray);
    --badge-color-orange-text: var(--color-bg-primary);
    --badge-color-orange-bg: var(--color-bg-primary-light);
}

.badge-wrap{
    --badge-list-gap: var(--gap-1);

    display: flex;
    gap: var(--badge-list-gap);
}

.badge{
    @include pc-variable();

    padding: var(--badge-padding);
    color: var(--badge-color-default-text);
    font-size: var(--badge-text-size);
    border-radius: var(--badge-border-radius);
    background-color: var(--badge-color-default-bg);

    &.blue{
        color: var(--badge-color-blue-text);
        background-color: var(--badge-color-blue-bg);
    }
    &.pink{
        color: var(--badge-color-pink-text);
        background-color: var(--badge-color-pink-bg);
    }
    &.orange{
        color: var(--badge-color-orange-text);
        background-color: var(--badge-color-orange-bg);
    }
}