@charset "UTF-8";
@import "../util";

.btn-wrap{
    --btn-wrap-gap: var(--gap-3);

    display: flex;
    gap: var(--btn-wrap-gap);
}
.btn-page-wrap{
    position: fixed;
    bottom: 0;
    display: flex;
    gap: var(--gap-5);
    padding: var(--space-11) var(--padding-layout-x);
    width: 100%;
    max-width: $max-width;
    background-color: var(--color-bg-white);
}

.btn{
    --btn-gap: var(--gap-1);
    --btn-font-size: var(--typo-body-small);
    --btn-font-color: var(--color-text-gray);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--btn-gap);
    width: 100%;
    color: var(--btn-font-color);
    font-size: var(--btn-font-size);
    font-weight: 400;
    line-height: 1;

    //size
    $btn-size: small, medium, large;
    @each $size in $btn-size {
        &.#{$size}{
            padding: 0 var(--btn-padding-x-#{$size});
            height: var(--btn-height-#{$size});
            font-size: var(--btn-font-size-#{$size});

            .icon{
                width: var(--btn-icon-size-#{$size});
                height: var(--btn-icon-size-#{$size});
            }
        }
    }

    //type
    &.text{
        width: fit-content;
        height: auto;

        .icon{
            background-color: var(--btn-font-color);
        }
    }
    &.line{
        border: var(--border-width) solid var(--btn-color-line);
    }
    &.fill{
        &.primary{
            --color: var(--btn-color-font-white);
            --color-bg: var(--btn-color-fill-primary);

            color: var(--color);
            background-color: var(--color-bg);

            .icon{
                background-color: var(--color);
            }
            &.disabled{
                --color: var(--btn-color-font-white-disabled);
                --color-bg: var(--btn-color-fill-primary-disabled);
                pointer-events: none;
            }
        }
    }

    //round
    &.round{
        &-s{
            border-radius: var(--btn-border-radius-small);
        }
        &-m{
            border-radius: var(--btn-border-radius-medium);
        }
        &-l{
            border-radius: var(--btn-border-radius-large);
        }
    }

    &-icon{
        display: inline-flex;
        width: fit-content;
        gap: 0;

        $icon-size: small, medium, large;
        @each $size in $icon-size {
            &.#{$size}{
                padding: 0;
                height: fit-content;
                .icon{
                    width: var(--btn-icon-size-#{$size});
                    height: var(--btn-icon-size-#{$size});
                }
            }
        }
    }
}

//수량 버튼
.btn-count{
    display: flex;
    //align-items: center;
    border: var(--border-width) solid var(--color-border-basic);
    border-radius: var(--border-radius-small);

    button{
        display: inline-flex;
        padding: 0.6rem;

        &.disabled{
            background-color: var(--color-bg-gray-light);
            &::before{
                background-color: var(--btn-icon-color-gray);
            }
        }

        &::before{
            content: '';
            display: inline-block;
        }
    }
    .minus::before{
        @include icon('minus.svg', $size: var(--icon-size-xsmall), $color: var(--btn-icon-color-gray-dark));
    }
    .plus::before{
        @include icon('plus.svg', $size: var(--icon-size-xsmall), $color: var(--btn-icon-color-gray-dark));
    }

    .count{
        display: inline-flex;
        text-align: center;
        width: 3.6rem;
        font-size: var(--typo-body-small);
        border-left: var(--border-width) solid var(--color-border-basic);
        border-right: var(--border-width) solid var(--color-border-basic);
    }
}