@charset "UTF-8";

@mixin variable(){
    --checkbox-label-typo-size: var(--input-label-font-size);
    --checkbox-icon-size: 2rem;
    --checkbox-icon-color: var(--icon-color-gray);
    --checkbox-icon-color-active: var(--color-bg-white);
    --checkbox-icon-bg: var(--color-bg-white);
    --checkbox-icon-bg-active: var(--color-bg-primary);
    --checkbox-icon-radius: var(--border-radius-small);
    --checkbox-icon-border-width: var(--border-width);
    --checkbox-icon-border-color: var(--color-border-dark);
}


.checkbox{
    @include variable();

    input[type="checkbox"]{
        @include blind();

        &:checked{
            ~ label{
                &::before{
                    border-color: var(--checkbox-icon-bg-active);
                    background-color: var(--checkbox-icon-bg-active);
                }
                &::after{
                    background-color: var(--checkbox-icon-color-active);
                }
            }
        }
    }

    label{
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--gap-2);
        font-size: var(--checkbox-label-typo-size);

        &::before{
            content: '';
            display: inline-block;
            width: var(--checkbox-icon-size);
            height: var(--checkbox-icon-size);
            border-radius: var(--checkbox-icon-radius);
            border: var(--checkbox-icon-border-width) solid var(--checkbox-icon-border-color);
            background-color: var(--checkbox-icon-bg);
            box-sizing: border-box;
        }

        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: inline-block;
            @include icon('check.svg', $size: var(--checkbox-icon-size), $color: var(--checkbox-icon-color));
        }
    }
}