@charset "UTF-8";

.input-wrap{
    &.bg-white{
        .input{
            background-color: var(--input-bg-color-white);
        }
    }

    label{
        display: block;
        //margin-bottom: var(--input-gap-label-input);
        font-size: var(--input-label-font-size);
        font-weight: 600;
    }
    .input{
        display: flex;
        align-items: center;
        gap: var(--gap-2);
        padding: var(--space-7) var(--space-9);
        height: 4rem;
        font-size: var(--input-font-size);
        border-radius: var(--input-border-radius);
        background-color: var(--input-bg-color-gray);

        input{
            width: 100%;
            font-size: var(--typo-input-medium);

            &::placeholder{
                color: var(--color-text-gray-lighter);
            }
        }
    }

    .btn-icon{
        flex-shrink: 0;
    }
    .delete{
        display: none;

        &.show{
            display: block;
        }
    }
}