@charset "UTF-8";
@import "../util";

.wrap{
    //overflow: hidden;
    margin: 0 auto;
    max-width: $max-width;
    //height: 100vh;

    &.bg-gray{
        //추후 삭제
        //--color-bg-gray-light: #ddd;
        background-color: var(--color-bg-gray-light);
    }
}

.container{
    min-height: 100vh;
}

//padding-24, gap: 40px - 기본
//padding-0, gap: 0
//gap: 30px , gap: 0
.contents{
    //display: flex;
    //flex-direction: column;
    //gap: var(--layout-gap-large);
    //padding: var(--layout-gap-small) var(--padding-layout-x) var(--padding-layout-y);
    padding: 0 var(--padding-layout-x);

    &.no-spacing{
        padding-top: 0;
        gap: 0;
    }
}

section{
    margin-top: var(--gap-8);

    &:first-of-type{
        margin-top: 0;
    }
}