@charset "UTF-8";

@mixin pc-variable(){

}

.pop-wrap{
    &.open{
        position: fixed;
        z-index: 100;

        &::before{
            content: '';
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
            display: block;
            background: rgba(0, 0, 0, 0.5);
        }
        .pop-inner{
            opacity: 1;
            visibility: visible;
            //display: block;
        }
    }

    .pop-inner{
        //display: none;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        z-index: 100;
        background-color: #fff;
        transition: all 0.2s;
    }

    &.bottom-sheet{
        width: 100%;
        height: 70%;

        &.open{
            .pop-inner{
                bottom: 0;
            }
        }

        .pop-inner{
            width: 100%;
            height: 80%;
            bottom: -100%;
            border-radius: 2rem 2rem 0 0;
        }
        .pop-tit{
            padding: 2rem var(--padding-layout-x);
            font-weight: 700;
            font-size: var(--typo-title-xlarge);
        }
        .pop-con{
            overflow: auto;
            padding: 0 var(--padding-layout-x);
            height: calc(100% - 7.6rem - 6.8rem);
        }
        .pop-btn{
            position: absolute;
            bottom: 0;
            padding: var(--padding-layout-x);
            width: 100%;
            background-color: var(--color-bg-white);
        }
        .pop-close-btn{
            position: absolute;
            top: 2rem;
            right: var(--padding-layout-x);

            .btn{
                width: calc(var(--typo-title-xlarge) * var(--base-line-height));
                height: calc(var(--typo-title-xlarge) * var(--base-line-height));
            }
        }
    }
}
